@import url(https://fonts.googleapis.com/css?family=Roboto);
h1{
    font-family:'Roboto';
    text-align:center;
    font-size: 200px;
    margin: auto;
    color: yellow;
    font-weight: 700;
}
h2{
    font-family:'Roboto';
    text-decoration: dashed;
    text-align: center;
    color:yellow;
    font-size:60px;
}
body{
    background-color:purple;
    color: yellow;
}
a{
    font-family:'Roboto';
    font-size: 100px;
    text-align: center;
}
video{
    width:50%;
    height:50%;
}
p{
    font-family:'Roboto';
    font-size: 120px;
    text-align: center;
    color: yellow;
}
.scroll-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.item {
    flex-shrink: 0;
    padding: 20px;
    margin: 10px;
    background-color: lightblue;
    min-width: 150px;
}