@import url(https://fonts.googleapis.com/css?family=Sans+Serif);
h1{
    font-family:'Sans Serif';
    text-align:center;
    font-size: 200px;
    margin: auto;
    color: yellow;
    font-weight: 700;
}
h2{
    text-decoration: dashed;
    text-align: center;
    color:yellow;
    font-size:60px;
}
body{
    background-color:purple;
    color: yellow;
}
a{
    font-size: 50px;
    text-align: center;
}
#speedrun-timer {
    position: fixed; /* Fixes the timer to the viewport */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    color: lime; /* Classic speedrun timer color */
    padding: 5px 10px;
    font-family: monospace;
    font-size: 1.5em;
    z-index: 1000; /* Ensures it's above other content */
    border-radius: 3px;
}
video{
    width:50%;
    height:50%;

}
p{
    font-size: 120px;
    text-align: center;
    color: yellow;
}